[submodule "ALXAddonUpdater"]
	path = ALXAddonUpdater
	url = https://github.com/Valerie-Bosco/ALXAddonUpdater.git
[submodule "ALXModuleManager"]
	path = ALXModuleManager
	url = https://github.com/Valerie-Bosco/ALXModuleManager.git
